@model List<Portfolio_Project.Data_Access_Layer.Entities.Portfolio>

@{
    int count = 0;
}

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>See My Latest Projects.</h1>

            <p class="lead"></p>
        </div>
    </div>
    @foreach (var item in Model)
    {
        count++;
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="@item.PortfolioImageUrl" class="thumb-link" title="@item.PortfolioTitle" data-size="1050x700">
                                <img src="@item.PortfolioImageUrl"
                                     srcset="@item.PortfolioImageUrl 1x, @item.PortfolioImageUrl 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.PortfolioTitle
                            </h3>
                            <p class="item-folio__cat">
                                @item.PortfolioSubTitle
                            </p>
                        </div>

                        <a href="@item.PortfolioUrl" target="_blank" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>@item.PortfolioDescription</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
            </div>
        </div>
    }

    

</section>
